html,
button,
input,
select,
textarea{
	
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h2{
	
	margin-top: 0;
	text-align: center;
}

body{
	
	background-color: #33cccc;
	margin: 0;
	padding: 0 2em;
}

.form{
	
	height: 80%;
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
	margin: 4em;
	min-width: 480px;
	padding: 1em;
	text-align: center;
	
	border-radius: 25px;
    border: 2px solid #00ace6;
}

table{
	
    width:100%;
}

table, th, td{
	
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
}

th, td{
	
    padding: 15px;
    text-align: left;
}

table#t01 th{
	
    background-color: #33cccc;
    color: white;
}